.authorC{
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-image: url("../../assets/bg6.jpg");
    background-size: cover;
}
.authorRegister{
    
}